img{
    width: 400px;
    height: 200px;
    object-fit: cover
}

.container-sub{
    text-align:right;
}

h1 {
    padding-top: 60px;
    text-align: center;
}

.about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
}

p.a {
    font-family: "Times New Roman";
    text-align: center;
    font-weight: normal    
  }

table {
    margin-top: -15px;
    margin-bottom: 25px;
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 15px;
    text-align: left;
    font-size:20px;
  }
  
  tr:nth-child(even){
      background-color: #f2f2f2
    }

tr:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


th {
    background-color: #0494AA;
    color: white;
  }
  
h3 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.explanation{

    font-size:20px;
  }
